body{
  font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
}

h1,h2 {
  color: #007e7e;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

p {
  color: maroon;
}

.greentea{
  color: green;
}

.raspberry{
  color: blue;
}

.blueberry{
  color: violet;
}

.cranberry{
  color: red;
}

#garantia{
  border: black 1px dashed white;
  padding: 25px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 250px;
  line-height: 1.9em;
  font-style: italic;
  color: #444444;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #a7cece url(../lounge2/images/background.gif) no-repeat top left;

}

#elixirs{
  border: thin solid #007e7e;
  width: 200px;
  padding: 0px 20px 20px 20px;
  margin-left: 20px;
  text-align: center;
  background: url(../lounge2/images/cocktail.gif) repeat-x;
float: right;

}

#elixirs h3{
  color: red;
}

#elixirs a:link{
  color: #007e7e;
}

#elixirs a:visited{
  color: #333333;
}

#elixirs a:hover{
  background: #f88396;
  color: #0d5353;
}
